// Made with <3 in Germany

// Variables

$gray-color: #bbb;
$dark-gray-color: #999;
$red-color: #ff3b30;
$orange-color: #ffa600;
$green-color: #4cd964;
$teal-blue-color: #69d2fb;
$blue-color: #0091ff;
$purple-color: #6b70de;

$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";

$tiny-text: 9pt;
$small-text: 12pt;
$normal-text: 16pt;
$large-text: 21pt;
$huge-text: 37pt;

$shadow: 0 4px 10px rgba(0, 0, 0, .2);
$large-shadow: 0 20px 40px rgba(0, 0, 0, .2);

// Mixins

@mixin transition-set-up($property, $time, $easing) {
	transition: $property $time $easing;
	-webkit-transition: $property $time $easing;
	-moz-transition: $property $time $easing;
	-o-transition: $property $time $easing
}

@mixin gradient($firstGradientColor, $secondGradientColor) {
  background: -webkit-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -moz-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -ms-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -o-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: linear-gradient(top, $firstGradientColor, $secondGradientColor)
}

// General

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: $fonts;
  font-size: $normal-text;
  text-decoration: none;
	box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent
}

body {
  padding: 5%;
  font-size: $normal-text;
  text-align: center;
  background: #fff
}

img {
  width: 256px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: $large-text;
	font-weight: 600;
	text-transform: uppercase;

	span {
		font-size: $large-text;
		font-weight: 800
	}
}

h2 {
  margin: 0 auto 10px auto;
	max-width: 400px;
  font-size: $normal-text
}

h3 {
	text-align: left
}

p {
  margin: 20px auto;
  max-width: 400px;
  line-height: 1.5
}

article, section {
	margin: 40px auto
}

hr {
  height: 1px;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray-color 50%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray-color 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray-color 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray-color 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $gray-color 50%, rgba(255, 255, 255, 0) 100%);
  border: none;
}

strong {
	font-weight: 600
}

footer {
  margin-top: 40px;

  p, a {
    margin: 0 auto;
    color: $gray-color;
    font-size: $small-text
  }

  a:hover {
    color: $dark-gray-color
  }
}

// Classes

.event {
  padding: 30px;
  width: 90%;
	background: $red-color;
  border-radius: 8px;
	box-shadow: $shadow;

	h2, p {
		color: #fff;
		text-align: left
	}

	hr {
	  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
	  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
	  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
	  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%);
	  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 50%, rgba(255, 255, 255, 0) 100%)
	}

	a {
		padding: 10px;
		color: #fff;
		font-size: $small-text;
		border: 1px solid #fff;
		border-radius: 6px;
		display: inline-block;

		&:hover {
			color: $red-color;
			background: #fff;
			border: 1px solid #fff;
			box-shadow: $shadow
		}
	}
}

.event-icon {
	margin: 10px;
	float: left;
  width: 64px
}

.event-date {
	margin: 0 auto 10px auto;
	font-style: italic
}

.paulussommertage-text {
	color: #fff;
	text-transform: uppercase;

	strong {
		color: #fff
	}
}

.button {
  padding: 15px;
  border-radius: 6px;
  box-shadow: $shadow;
  display: inline-block
}

.schedule {
	width: 90%;

	h1 {
		text-transform: none
	}

	h2 {
		font-size: $large-text;
		font-weight: 400
	}

	h3 {
		color: #fff
	}

	article {
		position: relative;

		& > p {
			font-weight: 600;
			text-align: left
		}

		& > svg {
			display: none
		}
	}

	div {
		margin: 0 auto;
		padding: 30px 30px 50px 30px;
		position: relative;
		border-radius: 8px;
		box-shadow: $shadow;

		p {
			margin: 5px 0;
			max-width: none;
			color: #fff;
			text-align: left
		}

		strong, a {
			color: #fff;
			font-weight: 600
		}

		a {
			text-decoration: underline;
			text-decoration-skip: edges
		}
	}

	input[type=checkbox] {
		display: none
	}

	label {
		right: 16px;
		bottom: 8px;
		position: absolute;

		path {
			transform: rotate(0deg);
			transform-origin: 16px 16px
		}

		&:hover circle {
			fill: #fff
		}
	}
}

.schedule-red {
	background: $red-color;

	label:hover path {
		stroke: $red-color
	}
}

.schedule-orange {
	background: $orange-color;

	label:hover path {
		stroke: $orange-color
	}
}

.schedule-green {
	background: $green-color;

	label:hover path {
		stroke: $green-color
	}
}

.schedule-teal-blue {
	background: $teal-blue-color;

	label:hover path {
		stroke: $teal-blue-color
	}
}

.schedule-blue {
	background: $blue-color;

	label:hover path {
		stroke: $blue-color
	}
}

.schedule-purple {
	background: $purple-color;

	label:hover path {
		stroke: $purple-color
	}
}

.schedule-location {
	font-size: $small-text;
	font-style: italic
}

.schedule-mail {
	right: 100px;
	bottom: 8px;
	position: absolute;

	img {
		width: 32px
	}
}

.schedule-link {
	right: 58px;
	bottom: 8px;
	position: absolute;

	img {
		width: 32px
	}
}

.schedule-last:before {
	display: none
}

.facebook-button {
  color: #fff;
  background: #4267b2;

  &:hover {
    background: #29487d;
  }

  &:active {
    transform: scale(.95);
    @include transition-set-up(transform, .2s, ease)
  }
}

.uppercase-text {
	color: #fff;
	text-transform: uppercase
}

.hint {
	font-size: $small-text
}

.imprint {
  margin: 0 auto;
  width: 90%;
  text-align: left;

  h1 {
    font-size: $huge-text;
		text-transform: none
  }

  h2 {
    font-size: $large-text
  }

  p {
    max-width: none
  }
}

// Schedule

#schedule-checkbox-1:checked {
	& ~ .schedule-description-1 {
		display: inherit
	}

	& ~ figure path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-2:checked {
	& ~ .schedule-description-2 {
		display: inherit
	}

	& ~ figure path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-3:checked {
	& ~ .schedule-description-3 {
		display: inherit
	}

	& ~ figure path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-4:checked {
	& ~ .schedule-description-4 {
		display: inherit
	}

	& ~ figure path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-5:checked {
	& ~ .schedule-description-5 {
		display: inherit
	}

	& ~ figure path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-6:checked {
	& ~ .schedule-description-6 {
		display: inherit
	}

	& ~ figure path {
		transform: rotate(45deg);
	}
}

.schedule-description {
	display: none
}

// Mobile

@media screen and (max-width: 910px) {
	.event-icon {
		margin-bottom: 20px;
		float: none
	}
}

@media screen and (min-width: 500px) {
	.event, .imprint {
		width: 80%
	}

	.schedule {
		width: 80%;

		article {
			& > p {
				margin: 30px 0 0 42px;
				float: left
			}

			& > svg {
				top: 30px;
				left: 0;
				position: absolute;
				display: inherit
			}

			&:before {
				top: 34px;
				left: 14px;
				position: absolute;
				width: 4px;
				height: calc(100% + 40px);
				background: $blue-color;
				content: ""
			}
		}

		div {
			margin: 0 auto 0 200px
		}
	}
}
