/* Made with <3 in Germany */

/* Variables */

$gray: #bbb;
$dark-gray: #999;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";

$tiny-text: 9pt;
$small-text: 12pt;
$text: 16pt;
$large-text: 21pt;
$huge-text: 37pt;

$shadow: 0 4px 10px rgba(0, 0, 0, .2);
$large-shadow: 0 20px 40px rgba(0, 0, 0, .2);

/* Mixins */

@mixin transition-set-up($property, $time, $easing) {
	transition: $property $time $easing;
	-webkit-transition: $property $time $easing;
	-moz-transition: $property $time $easing;
	-o-transition: $property $time $easing
}

@mixin gradient($firstGradientColor, $secondGradientColor) {
  background: -webkit-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -moz-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -ms-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -o-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: linear-gradient(top, $firstGradientColor, $secondGradientColor)
}

/* General */

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: $font;
  font-size: $text;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent
}

body {
  padding: 5%;
  font-size: $text;
  text-align: center;
  background: #fff
}

img {
  width: 256px;
}

h1 {
  margin: 0 0 20px 0;
  font-size: $large-text;
	font-weight: 600;
	text-transform: uppercase;

	span {
		font-size: $large-text;
		font-weight: 800
	}
}

h2 {
  margin: 0 0 10px 0;
  font-size: $text;
}

p {
  margin: 20px auto;
  max-width: 400px;
  line-height: 1.5
}

hr {
  height: 1px;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray 50%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, $gray 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $gray 50%, rgba(255, 255, 255, 0) 100%);
  border: none;
}

footer {
  margin-top: 40px;

  p, a {
    margin: 0 auto;
    color: $gray;
    font-size: $small-text
  }

  a:hover {
    color: $dark-gray
  }
}

/* Classes */

.event {
  margin: 80px auto 0 auto;
  padding: 80px 20px 20px 20px;
  position: relative;
  width: 70%;
  border: 1px solid $gray;
  border-radius: 8px;

	a {
		margin: 10px;
		padding: 10px;
		color: $dark-gray;
		font-size: $small-text;
		border: 1px solid $dark-gray;
		border-radius: 6px;
		display: inline-block;

		&:hover {
			color: #000;
			border: 1px solid #000
		}
	}
}

.event-icon {
  padding: 20px;
  top: -52px;
  position: absolute;
  width: 64px;
  background: #fff;
  border: 1px solid $gray;
  border-radius: 20px;
  box-shadow: $shadow;
  transform: translateX(-50%)
}

.event-date {
	margin: 0 auto 10px auto;
	font-style: italic
}

.button {
  padding: 15px;
  border-radius: 6px;
  box-shadow: $shadow;
  display: inline-block
}

.facebook-button {
  color: #fff;
  background: #4267b2;

  &:hover {
    background: #29487d;
  }

  &:active {
    transform: scale(.95);
    @include transition-set-up(transform, .2s, ease)
  }
}

.imprint {
  margin: 0 auto;
  width: 70%;
  text-align: left;

  h1 {
    font-size: $huge-text;
		text-transform: none
  }

  h2 {
    font-size: $large-text
  }

  p {
    max-width: none
  }
}
