// Made with <3 in Germany

// Variables

$gray-color: #999;
$dark-gray-color: #777;
$red-color: #d50000;
$orange-color: #ff6d00;
$green-color: #009624;
$light-blue-color: #0091ea;
$blue-color: #2962ff;
$purple-color: #aa00ff;

$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";

$tiny-text: 9pt;
$small-text: 12pt;
$normal-text: 16pt;
$large-text: 21pt;
$huge-text: 37pt;

$shadow: 0 4px 10px rgba(0, 0, 0, .2);
$large-shadow: 0 20px 40px rgba(0, 0, 0, .2);

// Mixins

@mixin transition-set-up($property, $time, $easing) {
	transition: $property $time $easing;
	-webkit-transition: $property $time $easing;
	-moz-transition: $property $time $easing;
	-o-transition: $property $time $easing
}

@mixin gradient($firstGradientColor, $secondGradientColor) {
  background: -webkit-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -moz-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -ms-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: -o-linear-gradient(top, $firstGradientColor, $secondGradientColor);
  background: linear-gradient(top, $firstGradientColor, $secondGradientColor)
}

// General

* {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: $fonts;
  font-size: $normal-text;
  text-decoration: none;
	box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent
}

body {
	font-family: $fonts;
  font-size: $normal-text;
  text-align: center;
  background: #eee
}

header {
	padding: 40px 0 0 0;
	background: #000;
	background: url("../images/panorama.jpg");
	background-position: center;
	background-size: cover;

	img {
		width: 256px
	}

	p {
		margin: 20px auto 40px auto;
		max-width: 400px;
		color: #fff;
		font-family: "Oswald", $fonts;
		font-size: $large-text;
	}
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #fff;
  font-family: "Oswald", $fonts;
	font-size: $large-text;
	font-weight: 500;
	background: rgba(0, 0, 0, .5);
	-webkit-backdrop-filter: blur(10px)
}

h2 {
  padding: 40px 0;
  font-size: $large-text;
	font-weight: 600
}

h3 {
	margin: 0 0 10px 0;
	font-size: $normal-text;
	font-weight: 800
}

main {
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	max-width: 800px;
	line-height: 1.5;
	background: #fff;
	box-shadow: $shadow;
	transform: translateY(0);

	& > p {
		padding: 40px 0;
		font-weight: 500
	}
}

section {
	margin: 0 -20px;
	padding: 20px;
	position: relative;
	text-align: left;
	background: #ddd;

	h3, p, strong, a {
		color: #fff
	}

	a {
		text-decoration: underline
	}
}

input[type=checkbox] {
	display: none
}

label {
	right: 16px;
	bottom: 8px;
	position: absolute;

	path {
		transform: rotate(0deg);
		transform-origin: 16px 16px
	}

	&:hover circle {
		fill: #fff
	}
}

footer {
  margin: 40px 20px;

  p, a {
    margin: 0 auto;
    color: $gray-color;
    font-size: $small-text
  }

  a:hover {
    color: $dark-gray-color
  }
}

// Classes

.logo {
	display: none
}

.section-green {
	background: $green-color;

	label:hover path {
		stroke: $green-color
	}
}

.section-blue {
	background: $blue-color;

	label:hover path {
		stroke: $blue-color
	}
}

.section-red {
	background: $red-color;

	label:hover path {
		stroke: $red-color
	}
}

.section-purple {
	background: $purple-color;

	label:hover path {
		stroke: $purple-color
	}
}

.section-orange {
	background: $orange-color;

	label:hover path {
		stroke: $orange-color
	}
}

.section-light-blue {
	background: $light-blue-color;

	label:hover path {
		stroke: $light-blue-color
	}
}

.schedule-time {
	margin: -20px -20px 20px -20px;
	padding: 20px;
	text-align: center;
	font-weight: 800;
	background: rgba(0, 0, 0, .2);
	box-shadow: $shadow
}

.schedule-location {
	margin-bottom: 10px;
	font-size: $small-text;
	font-style: italic
}

.schedule-description {
	margin-bottom: 20px;
	display: none
}

.schedule-mail {
	right: 100px;
	bottom: 8px;
	position: absolute;

	img {
		width: 32px
	}
}

.schedule-link {
	right: 58px;
	bottom: 8px;
	position: absolute;

	img {
		width: 32px
	}
}

.schedule-hint {
	font-size: $small-text
}

.uppercase-text {
	color: #fff;
	text-transform: uppercase
}

.facebook-button {
	margin-bottom: 40px;
	padding: 15px;
  color: #fff;
  background: #4267b2;
	border-radius: 8px;
	box-shadow: $shadow;
  display: inline-block;

  &:hover {
    background: #29487d
  }

  &:active {
    transform: scale(.95);
    transition: transform .2 ease
  }
}

.imprint {
  margin: 40px;
  text-align: left;
	line-height: 1.5;
	background: #fff;

  h1 {
		margin: 20px 0;
		padding: 0;
		color: #000;
		font-family: $fonts;
    font-size: $huge-text;
		text-transform: none;
		background: none
  }

  h2 {
		margin: 20px 0;
		padding: 0;
    font-size: $large-text
  }

	a:hover {
		text-decoration: underline
	}

	footer {
		text-align: center;
		transform: translateY(0);
	}
}

// IDs

#schedule-checkbox-1:checked {
	& ~ .schedule-description-1 {
		display: inherit
	}

	& ~ label svg path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-2:checked {
	& ~ .schedule-description-2 {
		display: inherit
	}

	& ~ label svg path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-3:checked {
	& ~ .schedule-description-3 {
		display: inherit
	}

	& ~ label svg path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-4:checked {
	& ~ .schedule-description-4 {
		display: inherit
	}

	& ~ label svg path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-5:checked {
	& ~ .schedule-description-5 {
		display: inherit
	}

	& ~ label svg path {
		transform: rotate(45deg);
	}
}

#schedule-checkbox-6:checked {
	& ~ .schedule-description-6 {
		display: inherit
	}

	& ~ label svg path {
		transform: rotate(45deg);
	}
}

// Medium + large screens

@media screen and (min-width: 737px) {
	// General

	h1 {
		padding: 20px 0 60px 0;
		font-size: $huge-text
	}

	main, footer {
		transform: translateY(-40px)
	}

	footer {
		margin: 40px 20px 0 20px
	}

	// Classes

	.logo {
		display: inline-block
	}

	.imprint {
		margin: 40px auto;
		width: 70%
	}
}
